DEV_DB_URL=jdbc:postgresql://localhost:5432/moneyapp
DEV_DB_USERNAME=dev
DEV_DB_PASSWORD=dev
DEV_JPA_SHOW_SQL=true

POWENS_DOMAIN=YOUR_VALUE_HERE
POWENS_CLIENT_ID=YOUR_VALUE_HERE
POWENS_CLIENT_SECRET=YOUR_VALUE_HERE
POWENS_MANAGE_TOKEN=YOUR_VALUE_HERE
POWENS_REDIRECT_URL=https://api.moneyapp.me/api/bank/callback
