spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: ${DEV_DB_URL}
    username: ${DEV_DB_USERNAME}
    password: ${DEV_DB_PASSWORD}
  jpa:
    show-sql: ${DEV_JPA_SHOW_SQL:true}

app:
  auth-enabled: ${APP_AUTH_ENABLED:false}

powens:
  domain: ${POWENS_DOMAIN}
  client-id: ${POWENS_CLIENT_ID}
  client-secret: ${POWENS_CLIENT_SECRET}
  manage-token: ${POWENS_MANAGE_TOKEN}
  redirect-url: ${POWENS_REDIRECT_URL}
